[Unit]

Description= apolloconsul.
Wants=remote-fs.target network.target
Before=network.target network.service

[Service]

Type=simple

ExecStart=/god/apps/apollo-consul/apolloconsul.linux.amd64
WorkingDirectory=/god/apps/apollo-consul
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=apolloconsul
[Install]

WantedBy=multi-user.target